@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oxanium:wght@200..800&display=swap');


body{
    background-image: url('../assets/choice/background-2.svg');
    background-color: #090413;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.choicePage{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 20;
    background: var(--black);
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    padding-top: 2%;
    padding-inline: 2%;
    font-family: 'Oxanium', sans-serif;

}
.toile {
    background-image: url(/src/assets/choice/toile.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 27%;
    width: 36%;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}


.top {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 5%;
    left: 3%;
    width: 94%;
}

.top div:last-child{

    width: 15%;
    text-align: end;
    display: flex;
    flex-direction: column;

    font-size: 20px;
}
.top div:last-child span:first-child{
    font-weight: bold;
}
.top-content {
    color: white;
    background-color: transparent;
    border: none;
    width: 230px;
    height: auto;
    font-size: 22px;
    font-family: 'Oxanium', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    text-decoration: none;
}

.arrow-left{
    height: 3vh;
    width: auto;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow-y: hidden;
}

.title{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 58px;
    display: flex;
    justify-content: center;
}




.circle { width: 28vw;
    height: 28vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../src/assets/choice/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}

.circle-background:hover {
 scale: 1.1;
}
.image-background{
    background-color: #090413;
    border-radius: 50%;
    width: 72%;
    height: 72%;
}
.choice-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
}




.choice-button {
    background-image: url('../assets/choice/button-choice.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    color: white;
    padding: 30px 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 28px;
    text-align: center;
    width: 420px;
    height: 200px;
    font-family: 'Oxanium', sans-serif;
    transition : all 0.8s ease-in-out;
}

.choice-button:hover {
    background-image: url('../assets/choice/btnState-hover.svg');
    opacity: 0.9;
    transition : all 0.8s ease-in-out;
}


.zone-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single .content-choice {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.single-choice .zone-choice {
    margin: 0 auto;
}

.single .toile {
    display: none;
}

.content-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67%;
    max-width: 100%;
    z-index: 10;
}
